<form class="container" [formGroup]="shiftsInputForm">
  <div class="params">
    <div class="number-input-container">
      <mat-form-field>
        <label>Insert Number Of Workers:</label>
        <input type="number" matInput min="1" class="input number-of-workers"
               formControlName="numberOfWorkers"
               (change)="rebuildForm()" [(ngModel)]="numberOfWorkers">
      </mat-form-field>
    </div>
    <div class="number-input-container">
      <mat-form-field>
        <label>Insert Number Of Days:</label>
        <input type="number" matInput min="1" max="7" class="input number-of-days"
               formControlName="numberOfDays" (change)="rebuildForm()" [(ngModel)]="numberOfDays">
      </mat-form-field>
    </div>
    <div class="number-input-container">
      <mat-form-field>
        <label>Insert Number Of Shifts:</label>
        <input type="number" matInput min="1" max="3" class="input number-of-shifts"
               formControlName="numberOfShifts" (change)="rebuildForm()" [(ngModel)]="numberOfShifts">
      </mat-form-field>
    </div>
    <div class="number-input-container">
      <mat-form-field>
        <label>Insert Number Of Necessary Workers Per Shift:</label>
        <input type="number" matInput min="1" class="input number-of-necessary-workers-per-shift"
               formControlName="numberOfNecessaryWorkersPerShift" (change)="rebuildForm()"
               [(ngModel)]="numberOfNecessaryWorkersPerShift">
      </mat-form-field>
    </div>
  </div>
  <table class="data-input">
    <thead>
    <th></th>
    <th *ngFor="let i of [].constructor(numberOfDays); index as currentDay" [attr.colspan]="numberOfShifts"
        class="day-header">
      {{days[currentDay]}}
    </th>
    </thead>
    <thead>
    <th>Name</th>
    <th *ngFor="let i of [].constructor(numberOfDays * numberOfShifts); index as index">
      {{(index % numberOfShifts) + 1}}
    </th>
    </thead>
    <tbody>
    <tr *ngFor="let i of [].constructor(numberOfWorkers); index as worker">
      <td>
        <mat-form-field>
          <input formControlName="{{'worker-' + worker}}" matInput class="input name-input" type="text">
        </mat-form-field>
      </td>
      <td *ngFor="let j of [].constructor(numberOfDays * numberOfShifts); index as relativeShift"
          class="{{getShiftString(worker, relativeShift)}}">
        <mat-select formControlName="{{getShiftString(worker, relativeShift)}}">
          <mat-select-trigger>
            <div class="{{getCurrentValue(worker, relativeShift).color}}">
              <mat-icon>
                {{getCurrentValue(worker, relativeShift).icon}}
              </mat-icon>&nbsp;
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let availability of availabilities" [value]="availability">
            <div class="{{availability.color}}">
              <mat-icon>{{availability.icon}}</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </td>
    </tr>
    </tbody>
  </table>

  <button mat-raised-button color="primary" (click)="submit()">Submit!</button>
</form>
<div class="loading-container">
  <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p class="loading">Loading Awesomeness...</p>
  </ngx-spinner>
</div>
