@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.title {
  cursor: pointer;
  width: fit-content;
  margin: 10px auto;
}

.mat-drawer-container {
  min-height: 100vh;
  max-width: 100vw;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
}

footer {
  border-top: 1px solid grey;
  margin-top: 20px;
  position: static;
  bottom: 0
}
