<section class="description">
  <p>
    <strong>Shift Scheduler</strong> is the easiest and most effective way to
    automate employee scheduling.
  </p>
</section>

<section class="call-for-action">
  <button mat-raised-button color="primary" (click)="gettingStarted()">Get Started!</button>
</section>

<section class="features">
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>Save Time</mat-card-title>
    </mat-card-header>
    <i class="material-icons">alarm</i>
    <mat-card-content>
      <p>
        Shifts Scheduling takes time. A lot of it. Automate the proccess to save
        time and money!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>Improve Employee Satisfaction</mat-card-title>
    </mat-card-header>
    <i class="material-icons">face</i>
    <mat-card-content>
      <p>
        Happier employees are better employees, everybody knows that! Improve
        your employee's happiness and satisfaction by providing them with the
        shifts they want!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>Easy to Use</mat-card-title>
    </mat-card-header>
    <i class="material-icons">child_friendly</i>
    <mat-card-content>
      <p>
        Shift Scheduler's intuitive API makes it easy for businesses to
        incorporate it into their proccess.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>Competitive Pricing</mat-card-title>
    </mat-card-header>
    <i class="material-icons">attach_money</i>
    <mat-card-content>
      <p>
        We made it a point to make Shift Scheduler available to anyone. Our
        competitive pricing encourages small bussinesses to start automating!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>State of the Earth Algorithm</mat-card-title>
    </mat-card-header>
    <i class="material-icons">settings</i>
    <mat-card-content>
      <p>
        Combining advanced dynamic & genetic techniques, Shift Scheduler results
        are outstanding!
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="feature-card">
    <mat-card-header>
      <mat-card-title>Open Source</mat-card-title>
    </mat-card-header>
    <i class="material-icons">code</i>
    <mat-card-content>
      <p>
        We are proud to make Shift Scheduler an Open Source product. Anyone can
        contribute!
      </p>
    </mat-card-content>
  </mat-card>
</section>
